/* global */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    }
    :root{
    --text-color: #fff;
    --bg-color: #000;
    --main-color: #ffa343;
  
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
    }
  
    body {
    color: var(--text-color);
    background-color: var(--bg-color);
    }
    section{
      padding: 70px 17% 60px;
    }
    /* end global */
    /* Start Components */
    .main-heading {
        text-align: center;
      }
      .main-heading h2 {
        font-weight: 600;
        font-size: 40px;
        position: relative;
        margin-bottom: 70px;
        text-transform: uppercase;
      }
      .main-heading h2::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        bottom: -30px;
        width: 120px;
        background-color: var(--main-color);
      }
      .main-heading h2::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 2px solid var(--main-color);
        bottom: -38px;
        background-color: white;
      }
      .main-heading p {
        font-size: var(--p-font);
        font-weight: 500;
        width: 650px;
        margin: 0 auto 100px;
        max-width: 100%;
        line-height: 2;
        color: #ffffffab;
      }
      /* End Components */
.contact {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .contact .content {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    .contact .content {
      flex-direction: column;
    }
  }
  .contact .content form {
    flex-basis: 70%;
  }
  .contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid var(--main-color);
    margin-bottom: 30px;
    width: 100%;
    background: #202020;
    font-size: var(--p-font);
    color: var(--text-color);
    border-radius: 5px;
  }
  .contact .content form .main-input:focus {
    outline: none;
  }
  .contact .content form textarea.main-input {
    height: 200px;
  }
  .contact .content form input[type="submit"] {
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    padding: 13px 40px;
    background-color: #ffa343;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: all .50s ease;
    cursor: pointer;

  }
  .contact .content .info {
    flex-basis: 25%;
  }
  @media (max-width: 767px) {
    .contact .content .info {
      order: -1;
      text-align: center;
    }
  }
  .contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
  }
  .contact .content .info .phone {
    display: block;
    color: #ffffffab;
    margin-bottom: 10px;
  }
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
  }
  @media (max-width: 767px) {
    .contact .content .info h4:nth-of-type(2) {
      margin-top: 30px;
    }
  }
  .contact .content .info address {
    color: #ffffffab;
    line-height: 2;
  }
  @media (max-width: 767px) {
    .contact .content .info address {
      margin-bottom: 40px;
    }
  }